.table_div {
    padding-right: 10px;
    padding-left: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    padding: 8px;
    text-align: center;
    font-size: 0.85em;
    max-width: 250px;
    word-wrap: break-word;
}

th {
    background-color: #ddddff;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(even) td {
    border: 1px solid #ffffff;
}

tr:nth-child(odd) td {
    border: 1px solid #dddddd;
}

tr th {
    border: 1px solid #ffffff;
}